

.orderList {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 32px;
  border: 1px black solid;
  margin-bottom: 1em;
} 
ul {padding: 0;}
/* List ul > li > a */
.lists {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -30px;
}
.lists li {
  position: relative;
  margin-left: 30px;
}
.lists li a {
  position: relative;
  display: block;
  font-family: var(--ff);
  font-size: 1.1rem;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: #7c7c7c;
  transition: all .2s;
}
.lists li a:hover {
  color: #3c3c3c;
}
li:before {
  display:inline-block;
  vertical-align: top;
  line-height: 1.6em;
  width: 1em;
  height:1em;
  margin-right: 0.3em;
  text-align: center;
  content: '✔';
  color: #999;
}